.navbar{
  padding: 32px 80px 32px 32px;
  width: 30%;
  .logo{
    background-image: url("../../assets/images/logo-ANSWER.svg");
    width: 151px;
    height: 40px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space:nowrap;
  }
  .navbarItem{
    margin-bottom: 29px;
    a{
      color: #000;
      &:hover{
        color: #2A8356;
      }
    }
  }
}

