.coursesItem{
  padding: 12px;
}
.replyContent{
  padding: 12px 17px 4px 16px;
}
.userOuter{
  padding: 17px 32px 22px 16px;
}
.search{
  margin-right: 26px;
}
.allText{
  margin-left: 7px;
}
.userText{
  font-size: 14px;
}
.textarea{
  resize:none;
}
.btn{
  padding: 8px 32px;
}
.bodyText{
  padding: 18px 122px 17px 25px;
}
