.info-verified{
  font-size: 14px;
}
.modal-body{
  padding: 2rem;
}
.modal-dialog{
  max-width: 480px;
}
.info-img{
  background-image: url("../../assets/images/emir.jpeg");
  width: 141px;
  height: 141px;
  
}
.info-content{
  width: 65%;
}
.info-emaill{
  margin-bottom: 20px;
}