.modal-name,
.modal-email,
.edit-time{
  font-size: 14px;
}
.verified-text{
  margin-left: 10px;
}
.deactivate-text{
  margin-bottom: 18px;
}
.alert-text{
  margin-bottom: 19px;
}
.modal .alert-btn{
  padding: 16px;
}
